@use "../constants" as const;
@use "../mixins" as mixin;

%form-base {
  @include mixin.text-style(16, const.$primary);
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background-color: const.$white;
  border: 1px solid const.$border;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
  appearance: none;

  &::placeholder {
    color: const.$tertiary;
  }

  &:not(:disabled):hover {
    background-color: const.$background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.form-select,
.form-input {
  @extend %form-base;
}

/* NOTE: Select */
.select-group {
  position: relative;

  &.is-active {
    .form-select {
      border-color: const.$blue;
    }

    .ic-caret {
      color: const.$blue;
    }
  }

  .form-select {
    padding-right: 40px;
    text-overflow: ellipsis;
  }

  .ic-caret {
    @include mixin.pos-center-y;
    right: 8px;
    font-size: 24px;
    color: const.$tertiary;
    pointer-events: none;
  }
}

/* NOTE: Select */
.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }

  .ic-search {
    @include mixin.pos-center-y;
    left: 10px;
    font-size: 20px;
    color: const.$secondary;
  }
}
