@use "../styles/constants" as const;
@use "../styles/mixins" as mixin;

.ProductCarousel {
  position: relative;
  line-height: 0;

  .slick-list {
    margin: 0 -#{const.$grid-margin};
  }

  .thumbnail-list {
    @include mixin.pos-center-x;
    bottom: 16px;
  }

  li {
    display: inline-block;
    margin: 0 4px;

    &.slick-active {
      button {
        opacity: 1;
        transform: scale(1.3333);
      }
    }

    button {
      width: 6px;
      height: 6px;
      background-color: const.$white;
      border-radius: 50%;
      opacity: 0.7;
      transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
    }

    img {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include mixin.responsive(T) {
    padding-right: 30px;

    .slick-list {
      margin: 0 0 8px;
      overflow: hidden;
      border-radius: 4px;
    }

    .thumbnail-list {
      position: static;
      transform: none;
    }

    li {
      margin: 0 8px 0 0;

      &.slick-active {
        button {
          border: 2px solid const.$blue;
          transform: none;
        }
      }

      button {
        @include mixin.flexbox;
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 4px;
        opacity: 1;
      }

      img {
        display: block;
        width: 56px;
      }
    }
  }

  @include mixin.responsive(D) {
    .slick-slider {
      @include mixin.flexbox(end, start);
      flex-direction: row-reverse;
    }

    .slick-list {
      width: 500px;
      height: 500px;
    }

    .thumbnail-list {
      margin-right: 8px;
    }

    li {
      display: block;
      margin-right: 0;
      margin-bottom: 8px;

      button,
      img {
        width: 75px;
        height: 75px;
      }
    }
  }
}
