@use "../styles/constants" as const;
@use "../styles/mixins" as mixin;

.GlobalHeader {
  width: 100%;
  height: const.$gnb-height-sm + const.$lnb-height-sm;

  .Gnb,
  .Lnb {
    position: fixed;
    left: 0;
    width: 100%;
  }

  .Gnb {
    top: 0;
    z-index: const.$gnb-level;
  }

  .Lnb {
    top: const.$gnb-height-sm;
    z-index: const.$lnb-level;
  }

  @include mixin.responsive(T) {
    height: const.$gnb-height-md + const.$lnb-height-md;

    .Lnb {
      top: const.$gnb-height-md;
    }
  }
}
