@use "../constants" as const;
@use "./flexbox" as flex;

@mixin star-rating($size) {
  @include flex.flexbox(start);
  font-size: $size;

  .ic-star {
    color: const.$border;

    &.is-active {
      color: const.$blue;
    }
  }
}
